<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.exz.carprofitmuch">
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <!--腾讯地图 SDK 要求的权限(开始)-->
    <!--访问网络获取地图服务-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--检查网络可用性-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 访问WiFi状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--需要外部存储写权限用于保存地图缓存-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--获取 device id 辨别设备-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--腾讯地图 SDK 要求的权限(结束)-->

<!--友盟分享-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!--end-->
    <application
        android:name=".app.ToolApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".module.LogoActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!--主-->
        <activity android:name=".module.MainActivity"/>
        <!--登录注册-->
        <activity android:name=".module.login.LoginActivity" />
        <!--忘记密码-->
        <activity android:name=".module.mine.ForgetPwdActivity" />
        <!--积分商城-->
        <activity android:name=".module.main.store.score.ScoreStoreActivity" />
        <!--积分商品详情-->
        <activity android:name=".module.main.store.score.ScoreGoodsDetailActivity" />
        <!--积分商品确认兑换-->
        <activity android:name=".module.main.store.score.ScoreConfirmActivity" />
        <!--服务列表-->
        <activity android:name=".module.main.store.service.ServiceListActivity" />
        <!--服务店铺-->
        <activity android:name=".module.main.store.service.ServiceShopActivity" />
        <!--评价列表-->
        <activity android:name=".module.main.store.comment.ServiceCommentListActivity" />
        <!--服务详情-->
        <activity android:name=".module.main.store.service.ServiceDetailActivity" />
        <!--提交服务订单-->
        <activity android:name=".module.main.store.service.ServiceConfirmActivity" />
        <!--图片预览-->
        <activity android:name="com.szw.framelibrary.view.preview.PreviewActivity" />
        <!--服务订单支付-->
        <activity android:name=".module.main.store.service.PayServiceActivity" />
        <!--支付密码 获取验证码-->
        <activity android:name=".module.main.pay.PwdGetCodeActivity" />
        <!--支付密码 设置支付密码-->
        <activity android:name=".module.main.pay.PwdSetActivity" />
        <!--服务支付成功-->
        <activity android:name=".module.main.store.service.ServicePayResultActivity" />
        <!--商品搜索-->
        <activity android:name=".module.main.store.search.SearchGoodsActivity"/>
        <!--商品搜索结果-->
        <activity android:name="com.exz.carprofitmuch.module.main.store.search.SearchResultActivity"/>
        <!--商品详情-->
        <activity android:name=".module.main.store.normal.GoodsDetailActivity"/>
        <!--商品评价列表-->
        <activity android:name=".module.main.store.comment.GoodsCommentListActivity"/>
        <!--商品店铺-->
        <activity android:name=".module.main.store.normal.GoodsShopActivity"/>
        <!--商品店铺搜索结果页-->
        <activity android:name=".module.main.store.normal.GoodsShopSearchResultActivity"/>
        <!--广告专区-->
        <activity android:name=".module.main.ads.AdsActivity"/>
        <!--红包专区-->
        <activity android:name=".module.main.RedPacketActivity"/>
        <!--设置-->
        <activity android:name=".module.mine.SettingsActivity"/>
        <!--个人资料-->
        <activity android:name=".module.mine.PersonInfoActivity"/>
        <!--账户安全-->
        <activity android:name=".module.mine.AccountSafeActivity"/>
        <!--修改账户密码-->
        <activity android:name=".module.mine.ReAccountPwdActivity"/>
        <!--网页-->
        <activity android:name=".widget.MyWebActivity"/>
        <!--账户余额-->
        <activity android:name=".module.mine.AccountBalanceActivity"/>
        <!--余额充值-->
        <activity android:name=".module.mine.PayBalanceRechargeActivity"/>
        <!--申请提现-->
        <activity android:name=".module.mine.AccountBalanceWithdrawalActivity"/>
        <!--余额变动记录-->
        <activity android:name=".module.mine.AccountBalanceRecordActivity"/>
        <!--卡券包-->
        <activity android:name=".module.mine.CardPackageListActivity"/>
        <!--卡券包详情-->
        <activity android:name=".module.mine.CardPackageDetailActivity"/>
        <!--服务订单评价-->
        <activity android:name=".module.mine.ServiceOrderCommentActivity"/>
        <!--商品收藏-->
        <activity android:name=".module.mine.favorite.FavoriteGoodsActivity"/>
        <!--商铺收藏-->
        <activity android:name=".module.mine.favorite.FavoriteShopActivity"/>
        <!--我的足迹-->
        <activity android:name=".module.mine.FootprintActivity"/>
        <!--积分中心-->
        <activity android:name=".module.mine.ScoreCenterActivity"/>
        <!--积分兑换记录-->
        <!--积分兑换记录详情-->
        <activity android:name=".module.mine.ScoreOrderDetailActivity"/>
        <!--一般商品确认订单-->
        <activity android:name=".module.main.store.normal.GoodsConfirmActivity"/>
        <!--地址选择-->
        <activity android:name=".module.mine.address.AddressChooseActivity"/>
        <!--地址管理-->
        <activity android:name=".module.mine.address.AddressManagerActivity"/>
        <!--地址新增或更新-->
        <activity android:name=".module.mine.address.AddressAddOrUpdateActivity"/>
        <!--订单支付方式页面-->
        <activity android:name=".module.main.pay.PayMethodsActivity"/>
        <!--商品分类-->
        <activity android:name=".module.main.store.normal.GoodsClassifyActivity"/>
        <!--商品分类-->
        <activity android:name=".module.main.store.search.SearchFilterActivity"/>
        <!--商家活动-->
        <activity android:name=".module.main.promotion.PromotionsActivity"/>
        <!--商家活动详情页-->
        <activity android:name=".module.main.promotion.PromotionsDetailActivity"/>
        <!--提交活动-->
        <activity android:name=".module.main.promotion.PromotionsPushActivity"/>
        <!--我的活动-->
        <activity android:name=".module.main.promotion.PromotionsPersonalActivity"/>
        <!--热点资讯-->
        <activity android:name=".module.main.HotNewsActivity"/>
        <!--会员充值-->
        <activity android:name=".module.mine.PayVipActivity"/>
        <!--购物车-->
        <activity android:name=".module.CartActivity"/>
        <!--消息-->
        <activity android:name=".module.mine.MsgActivity"/>
        <!--车险-->
        <activity android:name=".module.main.insurance.InsuranceActivity"/>











































































        <!--============================================================================================-->

        <!--优惠券-->
        <activity android:name=".module.mine.coupon.CouponActivity"/>

        <!--红包-->
        <activity android:name=".module.mine.redpacket.RedPackageActivity"/>

        <!--我的评价-->
        <activity android:name=".module.mine.comment.MyCommentActivity"/>

        <!--我的宝藏-->
        <activity android:name=".module.mine.comment.TreasureListActivity"/>

        <!--我的订单-->
        <activity android:name=".module.mine.goodsorder.GoodsOrderActivity"/>

        <!--订单详情-->
        <activity android:name=".module.mine.goodsorder.GoodsOrderDetailActivity"/>

        <!--商品评价-->
        <activity android:name=".module.mine.GoodsOrderCommentActivity"/>

        <!--退货退款-->
        <activity android:name=".module.mine.returngoods.ReturnGoodsActivity"/>

        <!--退货退款详情-->
        <activity android:name=".module.mine.returngoods.ReturnGoodsDetailActivity"/>

        <!--申请退款-->
        <activity android:name=".module.mine.goodsorder.RefundActivity"/>

        <!--填写物流-->
        <activity android:name=".module.mine.InputLogisticsActivity"/>


        <!--地图大头针-->
        <activity android:name=".module.main.map.MapPinActivity"/>

        <!--宝藏领取-->
        <activity android:name=".module.main.map.MapTreasureActivity"/>

        <!--红包领取-->
        <activity android:name=".module.main.map.MapRedPacketActivity"/>

        <!--申请开店-->
        <activity android:name=".module.mine.shop.OpenShopActivity" />

        <!--申请开店 文本输入-->
        <activity android:name=".module.mine.shop.OpenShopInputTextActivity" />

        <!--申请开店 选择-->
        <activity android:name=".module.mine.shop.OpenShopKeyValueActivity" />

        <!--身份证上传-->
        <activity
            android:name=".module.mine.shop.OpenShopCardImgActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <!--营业执证上传-->
        <activity android:name=".module.mine.shop.OpenShopBusinessImgActivity" />

        <!--地址详情-->
        <activity android:name=".module.mine.shop.OpenShopAddressActivity" />

        <!--地图标点-->
        <activity android:name=".module.mine.shop.OpenShopWebViewActivity" />


        <!--我的保单-->
        <activity android:name=".module.mine.MyPolicyActivity" />




















        <!-- aliPay sdk begin -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>

        <!--支付  end -->
        <!-- 微信支付 begin -->
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop" />
        <!--微信支付  end -->















        <!--定位服务-->
        <service android:name=".service.LocationService" />
        <!--定位广播接收器-->
        <receiver android:name=".receiver.MyLocationReceiver">
            <intent-filter>
                <action android:name="intent_action_location" />
            </intent-filter>
        </receiver>
        <!-- 如果您腾讯地图key确认无误，却依然授权没有通过，请检查您的key的白名单配置 -->
        <meta-data
            android:name="TencentMapSDK"
            android:value="${Tencent_APPKEY}"/>



        <!--友盟分享-->
        <!-- wechat callback-->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- qq -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="tencent1106614642" />
            </intent-filter>

        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <meta-data
            tools:replace="android:value"
            android:name="UMENG_APPKEY"
            android:value="${UMENG_APPKEY}" >
        </meta-data>
<!--友盟分享 end-->
    </application>

</manifest>